<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="io.dnor.App"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="copilot-eclipse-sandbox"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="greet Eclipse"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-javaagent:${project_loc}/lib/opentelemetry-javaagent.jar"/>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="OTEL_EXPORTER_OTLP_ENDPOINT" value="https://agent-meter.dnor.io"/>
        <mapEntry key="OTEL_EXPORTER_OTLP_PROTOCOL" value="http/protobuf"/>
        <mapEntry key="OTEL_TRACES_EXPORTER" value="otlp"/>
        <mapEntry key="OTEL_SERVICE_NAME" value="eclipse-copilot"/>
        <mapEntry key="OTEL_RESOURCE_ATTRIBUTES" value="deployment.environment=dev,service.namespace=ide,service.version=1.0.0"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
</launchConfiguration>
